// Footer
.footer {
  // display: flex;
  // align-items: center;
  background-color: $dark-color;
  color: #fff;
  height: 10vh;

  .container {
    height: 100%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;

    &-socials {
      &-icon {
        font-size: 1.5rem;
        margin-right: 1rem;
        cursor: pointer;
        transition: transform 0.5s;

        &:hover {
          color: $main-color;
          transform: scale(1.2);
        }
      }
    }
  }
}
