// Footer
.footer {
  background-color: $dark-color;
  color: #fff;
  height: 30vh;
  padding: 2rem 0;

  .container {
    height: 100%;
    width: 80%;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;

    &-copyright {
      text-align: center;
    }
  }
}
