// Gallery styles
.gallery {
  min-height: 52vh;
  // Backdrop which works with big gallery
  &__backdrop {
    @include position(fixed, 0, 0, 0, 0);
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    transform: translateY(100%);
    transition: transform 0.5s;
    cursor: pointer;

    &.js-active {
      transform: translateY(0);
    }
  }

  // Gallery with single enlarged photo
  &__big {
    @include position(fixed, 50%, null, null, 50%);
    transform: translate(-50%, -550%);
    z-index: 2;
    transition: transform 0.5s;

    &.js-active {
      transform: translate(-50%, -50%);
    }

    &-photo {
      width: 100vw;
    }

    &-controls {
      font-size: 5rem;
      color: $main-color;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      &-change-photo {
        width: 30%;
        display: flex;
        justify-content: space-between;
      }

      &-previous,
      &-next,
      &-close {
        cursor: pointer;
        transition: color 0.3s, transform 0.3s;

        &:hover {
          transform: scale(1.1);
          color: $light-color;
        }
      }
    }
  }

  // Gallery with small photos
  &__photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    row-gap: 2rem;
    justify-items: center;

    &-item {
      @include position(relative);
      overflow: hidden;
      width: 290px;
      cursor: pointer;

      &:hover {
        .gallery__photos-item-cover-enlarge {
          background-color: rgba(255, 255, 255, 0.3);
        }

        .gallery__photos-item-cover-enlarge-icon {
          visibility: visible;
        }
      }

      &-cover {
        @include position(relative);

        &-enlarge {
          @include position(absolute, 0, 0, 0, 0);
          background: rgba(255, 255, 255, 0);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background 0.3s;

          &-icon {
            visibility: hidden;
            font-size: 5rem;
            color: darken($main-color, 10%);
            transition: color 0.3s;

            &:hover {
              color: #000;
            }
          }
        }
      }

      &-info {
        @include position(absolute, 0, 0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 187, 0, 0.6);
        padding: 2rem;
        cursor: help;

        clip-path: circle(10% at 85% 20%);
        transition: background 0.5s ease-in-out, clip-path 0.5s ease-in-out;

        &:hover {
          background: $main-color;
          clip-path: circle(80% at 50% 50%);

          .gallery__photos-item-info-icon {
            color: $main-color;
          }
        }

        &-icon {
          @include position(absolute, 15%, null, null, 83%);
          font-size: 2rem;
          font-weight: bold;
          color: #fff;
          transition: color 0.5s;
        }

        &-title {
          margin-bottom: 1.5rem;
          font-size: 2.2rem;
        }

        &-text {
          font-size: 1.4rem;
          line-height: 2;
        }
      }
    }
  }
}
