@media screen and (min-width: 300px) and (max-height: 600px) {
  .header {
    &--inner {
      height: 27vh;
    }
  }
}

@media screen and (min-width: 350px) and (max-height: 850px) {
  .header {
    &--inner {
      height: 22vh;
    }
  }
}

@media screen and (min-width: 400px) and (max-height: 850px) {
  .header {
    &--inner {
      height: 19vh;
    }
  }
}

// 400px
@include mQ(xsmall) {
  .header {
    &__content {
      margin-top: 45%;

      &-title {
        font-size: 4.5rem;
      }

      &-info {
        font-size: 2.5rem;
      }
    }
  }

  .gallery {
    &__photos {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

      &-item {
        width: 350px;
      }
    }
  }

  .contact {
    &-b {
      &__items {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      }

      &__item {
        width: 350px;
      }
    }
  }
}

// 460px
@include mQ(small) {
  .damages {
    &-a {
      &__panel {
        &-content {
          &-images {
            flex-direction: row;
            justify-content: space-around;

            &-item {
              width: 45%;
            }
          }
        }
      }
    }
  }
}

// 768px
@include mQ(medium) {
  .header {
    &--inner {
      height: 18vh;
    }

    &__hamburger {
      top: 5rem;
      right: 5rem;
    }

    &__nav {
      &-logo {
        width: 190px;
        top: 4rem;
        left: 5rem;
      }

      &-menu {
        &-link {
          font-size: 3.5rem;
        }
      }
    }

    &__content {
      margin-top: 40%;

      &-title {
        font-size: 5.5rem;
      }

      &-info {
        font-size: 2.5rem;

        &-button {
          font-size: 2rem;
          padding: 1.5rem 3rem;
        }
      }
    }
  }

  .home {
    &-a {
      &__card {
        &-front {
          &-content {
            &-text {
              font-size: 2.3rem;
            }
          }
        }

        &-back {
          &-content {
            &-text {
              font-size: 1.8rem;
            }
          }
        }
      }
    }

    &-b {
      &__title {
        font-size: 4rem;
      }
    }

    &-c {
      &__process {
        &-item {
          &-title {
            font-size: 2.3rem;
          }
        }
      }
    }
  }

  .about {
    &-a {
      &__items {
        margin-top: 3rem;
      }

      &__item {
        width: 90%;
        margin: 0 auto 3rem;
        &-text {
          font-size: 2rem;
          padding: 3rem;
        }
      }
    }
  }

  .contact {
    &-a {
      &__form {
        width: 90%;
        &-fields {
          grid-template-areas:
            'name email'
            'subject phone'
            'message message'
            'message message';
        }

        &-field {
          &-input {
            font-size: 1.8rem;
            padding: 2.4rem 1rem 1rem;
          }

          &-label {
            top: 1.5rem;
            left: 1.3rem;
            font-size: 1.8rem;

            &.js-focus {
              transform: translateY(-35%);
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    &-b {
      &__item {
        &-front {
          &-icon {
            font-size: 4rem;
          }

          &-title {
            font-size: 2.5rem;
          }
        }

        &-content {
          &-text {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .damages {
    &-a {
      &__panel {
        &-content {
          flex-direction: row;
          justify-content: space-between;

          &-text {
            &--about {
              width: 100%;
            }
            width: 55%;
          }

          &-images {
            order: 2;
            width: 40%;
            flex-direction: column;
            justify-content: flex-start;

            &-item {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .rental {
    &__content {
      font-size: 2.5rem;
    }

    &-text {
      &--emphasise {
        font-size: 3rem;
      }
    }
  }

  .painting {
    &__content {
      font-size: 2.5rem;
    }
  }

  .footer {
    &__content {
      font-size: 2.5rem;
    }
  }

  .section-title {
    margin: 4rem 0;
    font-size: 3.3rem;
  }

  .text-lead {
    width: 85%;
    margin: 2rem auto;
    font-size: 2.5rem;
  }
}

// 1024px
@include mQ(large) {
  .header {
    &--inner {
      height: auto;
      .header__backdrop {
        height: 100%;
      }
      .header__nav {
        padding: 0 2rem;

        &-menu {
          height: auto;
        }
      }
    }

    &__hamburger {
      display: none;
    }

    &__nav {
      padding: 0 2rem;
      justify-content: space-between;
      position: initial;

      &-logo {
        display: none;
      }

      &-overlay {
        position: initial;
        transform: initial;
        background-color: transparent;
        opacity: initial;
        width: 100%;
      }

      &-menu {
        position: initial;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 4rem 0;

        &-item {
          margin-bottom: 0;
          min-width: 17rem;

          &--logo {
            display: inline-block;
          }
        }

        &-link {
          display: inline-block;
          height: 100%;
          width: 100%;
          padding: 1.5rem 2rem;
          border: 3px solid transparent;
          background-color: transparent;
          color: $light-color;
          font-size: 2rem;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-align: center;
          text-decoration: none;
          transition: border-color 0.3s, background-color 0.3s;

          &:hover {
            border-color: $main-color;
            background-color: $main-color;
          }

          &-logo {
            width: 18rem;
            transform: scale(1);
            transition: transform 0.5s ease-in-out;

            &:hover {
              transform: scale(1.05);
            }
          }

          &--active {
            border-color: $main-color;
            color: $main-color;

            &:hover {
              background-color: $main-color;
              border-color: $main-color;
              color: $light-color;
            }
          }
        }
      }
    }

    &__content {
      margin-top: 0;
      @include position(absolute, 50%, null, null, 50%);
      transform: translate(-50%, -50%);
      width: 85%;

      &-title {
        font-size: 6.5rem;
      }

      &-info {
        width: 100%;
        margin: 2rem 0;
        font-size: 2.5rem;

        &-button {
          font-size: 2rem;
          padding: 1.5rem 3rem;
        }
      }
    }
  }

  .about {
    &-a {
      &__items {
        margin-top: 5rem;
      }

      &__item {
        width: 100%;
        min-height: 30vh;
        margin-bottom: 5rem;
        flex-direction: row;
        justify-content: space-between;
        border: none;

        &:nth-of-type(even) {
          border: none;

          .about-a__item-text {
            order: 1;
            border-left: none;
            border-right: 5px solid $main-color;
          }

          .about-a__item-image {
            order: 2;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        &-text {
          flex-basis: 63%;
          border-left: 5px solid $main-color;
        }

        &-image {
          @include position(relative);
          flex-basis: 35%;
          overflow: hidden;

          &-item {
            @include position(absolute, 50%, null, null, 50%);
            transform: translate(-50%, -50%);
            min-width: 800px;
            min-height: 400px;
          }
        }
      }
    }

    &-b {
      &__testimonial {
        &-text {
          min-height: 30rem;
          margin-bottom: 2rem;
        }
      }
    }
  }

  .gallery {
    &__big {
      &-photo {
        width: 75vw;
        max-width: 1000px;
      }

      &-controls {
        display: initial;

        &-change-photo {
          width: initial;
          display: initial;
        }

        &-previous,
        &-next,
        &-close {
          position: absolute;
        }

        &-previous,
        &-next {
          top: 50%;
          transform: translateY(-50%);

          &:hover {
            transform: translateY(-50%) scale(1.1);
          }
        }

        &-next {
          right: -7%;
        }

        &-previous {
          left: -7%;
        }

        &-close {
          top: 0;
          right: -7%;
        }
      }
    }
  }

  .damages {
    &-a {
      &__tabs {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      }
      &__panel {
        padding: 3rem 4rem;
        &-title {
          font-size: 3rem;
          margin-bottom: 4rem;
        }
        &-content {
          &-text {
            font-size: 2rem;
            text-align: left;
            &--about {
              width: 100%;
            }
            width: 65%;
          }

          &-images {
            width: 30%;

            &-item {
              width: 90%;
            }
          }

          &-list {
            padding-left: 5rem;
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

// 1200px
@include mQ(xlarge) {
  .header {
    @include position(relative);

    &__nav {
      &-menu {
        &-item {
          min-width: 20rem;
        }

        &-link {
          font-size: 2.25rem;
          letter-spacing: 2px;

          &:hover {
            border-color: $main-color;
            background-color: $main-color;
          }

          &-logo {
            width: 20rem;
          }
        }
      }
    }

    &__content {
      &-info {
        margin: 2rem 0;
        font-size: 3rem;

        &-button {
          font-size: 2rem;
          padding: 1.5rem 3rem;
        }
      }
    }
  }

  .home {
    &-a {
      &__card {
        &-front {
          &-content {
            &-icon {
              font-size: 5rem;
            }
          }
        }
      }
    }
    &-b {
      &__title {
        font-size: 5rem;
      }
    }
    &-c {
      &__process {
        &-item {
          border: none;
        }
      }
    }
  }

  .contact {
    &-b {
      &__items {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      }

      &__item {
        width: 290px;

        &-front {
          &-title {
            font-size: 2.2rem;
          }
        }
      }
    }
  }

  .damages {
    &-a {
      &__tabs {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      }
    }
  }

  .rental {
    &__content {
      font-size: 2.8rem;
    }

    &-text {
      &--emphasise {
        font-size: 3.2rem;
      }
    }
  }

  .painting {
    &__content {
      font-size: 2.8rem;
    }
  }

  .footer {
    height: 20vh;
    &__content {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

// 1450px
@include mQ(xxlarge) {
  .gallery {
    &__big {
      &-photo {
        max-width: 1150px;
      }
    }
    &__photos {
      grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));

      &-item {
        width: 390px;
      }
    }
  }

  .contact {
    &-a {
      &__form {
        width: 100%;

        &-field {
          &-input {
            font-size: 2rem;
            padding: 3rem 1.2rem 1.4rem;
          }

          &-label {
            top: 2rem;
            left: 1.3rem;
            font-size: 2rem;

            &.js-focus {
              font-size: 1.4rem;
            }
          }
        }
        &-button {
          font-size: 2.2rem;
        }
      }
    }
  }
}

// landscape
@media (orientation: landscape) and (max-width: 900px),
  (orientation: landscape) and (max-height: 500px) {
  .section-title {
    margin: 2rem 0;
    font-size: 2.8rem;
  }

  .text-lead {
    font-size: 2rem;
  }

  .header {
    &--inner {
      height: 30vh;
    }
    &__hamburger {
      top: 2rem;
      right: 3rem;
    }

    &__nav {
      &-logo {
        top: 2rem;
        left: 3rem;
        width: 150px;
      }
    }

    &__content {
      margin: 10% auto 0;
      width: 85%;

      &-title {
        font-size: 4rem;
      }

      &-info {
        font-size: 2rem;
        margin-bottom: 0;

        &-button {
          font-size: 1.5rem;
        }
      }
    }

    &__scroll {
      display: none;
    }
  }

  .home {
    &-a {
      &__specials {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        width: 80%;
      }

      &__special {
        width: 230px;
        height: 230px;
      }

      &__card {
        &-front {
          &-content {
            &-text {
              font-size: 2rem;
            }
          }
        }

        &-back {
          &-content {
            &-text {
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    &-c {
      &__process {
        width: 80%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: 5rem auto 2rem;

        &-item {
          width: 250px;
        }
      }
    }
  }

  .about {
    &-a {
      padding-bottom: 0;

      &__items {
        margin-top: 5rem;
      }

      &__item {
        width: 95%;
        min-height: 25vh;
        margin: 0 auto 3rem;
        flex-direction: row;
        justify-content: space-between;
        border: none;

        &:nth-of-type(even) {
          border: none;

          .about-a__item-text {
            order: 1;
            border-left: none;
            border-right: 5px solid $main-color;
          }

          .about-a__item-image {
            order: 2;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        &-text {
          padding: 1.5rem 2rem;
          flex-basis: 63%;
          border-left: 5px solid $main-color;
          font-size: 1.8rem;
        }

        &-image {
          @include position(relative);
          flex-basis: 35%;
          overflow: hidden;

          &-item {
            @include position(absolute, 50%, null, null, 50%);
            transform: translate(-50%, -50%);
            min-width: 800px;
            min-height: 400px;
          }
        }
      }
    }

    &-b {
      &__testimonials {
        width: 95%;
        margin: 4rem auto;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      }

      &__testimonial {
        width: 270px;
      }
    }
  }

  .gallery {
    &__big {
      &-photo {
        width: 75vw;
        max-width: 400px;
      }
    }

    &__photos {
      width: 90%;
      margin: 0 auto;
      grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));

      &-item {
        width: 275px;
      }
    }
  }
}

@media (orientation: landscape) and (max-width: 600px) {
  .header {
    &__nav {
      &-logo {
        width: 120px;
      }
    }
    &__content {
      &-title {
        font-size: 3rem;
      }
    }
  }

  .home {
    &-a {
      padding-bottom: 0;
      &__specials {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }

      &__special {
        width: 200px;
        height: 200px;
      }

      &__card {
        &-front {
          &-content {
            &-text {
              font-size: 1.8rem;
            }
          }
        }

        &-back {
          &-content {
            &-text {
              min-height: 120px;
              padding-bottom: 0;
              margin-bottom: 1rem;
              font-size: 1.3rem;
            }
          }
        }
      }
    }

    &-c {
      padding: 0;

      &__process {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        &-item {
          width: 250px;
        }
      }
    }
  }

  .about {
    &-b {
      &__testimonials {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }

      &__testimonial {
        width: 250px;
      }
    }
  }

  .gallery {
    &__big {
      &-photo {
        width: 75vw;
        max-width: 300px;
      }
    }

    &__photos {
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      &-item {
        width: 250px;

        &-info {
          &-title {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
